<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @(IsFirstPage == true ? "disabled" : "")">
            <button class="page-link" @onclick="async () => await GoToPageAsync(CurrentPage - 1)">
                Previous
            </button>
        </li>
        @foreach (var pageN in Enumerable.Range(1, TotalPages))
        {
            <li class="page-item @(pageN == CurrentPage ? "active" : "")">
                <button class="page-link" @onclick="async () => await GoToPageAsync(pageN)">
                    @pageN
                </button>
            </li>
        }
        <li class="page-item @(IsLastPage == true ? "disabled" : "")">
            <button class="page-link" @onclick="async () => await GoToPageAsync(CurrentPage + 1)">
                Next
            </button>
        </li>
    </ul>
</nav>

@code {
    [Inject]
    public IDataService DataService { get; set; }

    [Parameter]
    public int CurrentPage { get; set; }

    [Parameter]
    public int TotalPages { get; set; }

    [Parameter]
    public string? Category { get; set; }

    private bool IsFirstPage => CurrentPage == 1;
    private bool IsLastPage => CurrentPage == TotalPages;

    private async Task GoToPageAsync(int page)
    {
        if (page >= 1 && page <= TotalPages)
        {
            await DataService.GetToolListAsync(Category, page);
            CurrentPage = DataService.CurrentPage;
            TotalPages = DataService.TotalPages;
        }
    }
}