@using Domain.Entities;

<style>
	.tool-details-container {
		display: flex;
		align-items: center;
	}
	.tool-image {
		flex: 0 0 auto;
		margin-right: 20px;
	}
	.tool-info {
		flex: 1 1 auto;
	}
</style>


@if (SelectedTool is not null)
{
	<div class="tool-details-container">
		<div class="tool-image">
			@if (!string.IsNullOrEmpty(SelectedTool.Image))
			{
				<img src="@SelectedTool.Image" alt="tool Image" width="400" height="300" />
			}
		</div>
		<div class= "tool-info">
			<h2>@SelectedTool.Name</h2>
			<p>@SelectedTool.Description</p>
			<p>Price: @SelectedTool.Price</p>
		</div>
	</div>
}

@code {
	[Parameter]
	public Tool? SelectedTool { get; set; }
}